.slider .track{
    -fx-background-color: linear-gradient(to right, #ffffff 25%, #969696 0%);
    -fx-padding: 1.2px;
}

.slider .thumb{
    -fx-padding: 5;
    -fx-pref-height: 18; /*20*/
    -fx-pref-width: 8;

   -fx-background-color: white;
}
